---
import Me from '../components/sections/Me.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portafolio mini">
	<main>
		<Me />
	</main>
</Layout>

<style>
	main {
		border: 1px solid #ff758c;
		width: 60%; /* Toma el 40% del ancho de la pantalla */
		margin: 0 auto; /* Centra horizontalmente */
		padding: 2.5em; /* Espaciado interno */
		box-sizing: border-box;
	}

	/* Media queries para adaptabilidad */
	@media (max-width: 1200px) {
		.container {
			width: 60%; /* Ajusta el ancho a 50% en pantallas medianas */
		}
	}

	@media (max-width: 768px) {
		main {
			width: 80%; /* Ajusta el ancho a 70% en pantallas pequeñas */
			padding: .5em; /* Reduce el padding */
		}
	}

	@media (max-width: 480px) {
		main {
			width: 95%; /* Ajusta el ancho a 90% en pantallas muy pequeñas */
			padding: .5em;  /* Reduce aún más el padding */
		}
	}
</style>