---
// se ejecuta en el servidor o en build time <----
const { text, icon } = Astro.props
---

<span class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-700 bg-gray-200 rounded-full mr-1">
    {text}
</span>