---
// se ejecuta en el servidor o en build time <----
const { title } = Astro.props
---

<section class="mb-5 py-2">
  {title && <h2 class="text-2xl font-medium ">{title}</h2>}
  <slot />
</section>

